<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary">
            <div class="panel-heading">Manage Inventory</div>
            <div class="panel-body">
                
                <form class="form-inline well ">
                    <input class="form-control" type="text" ng-model="book.name" placeholder="Enter Book Name">
                    <input class="form-control" type="text" ng-model="book.genre" placeholder="Enter Genre">
                    <input class="form-control" type="text" ng-model="book.description" placeholder="Enter Description">
                    <input class="form-control" type="text" ng-model="book.price" placeholder="Enter price">
                    <button class="btn btn-primary" ng-click="saveItem()">Save</button>
                </form>
                
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">Manage Inventory</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    <tr ng-repeat="book in inventoryList">
                        <td>{{book.name}}</td>
                        <td>{{book.genre}}</td>
                        <td>{{book.description}}</td>
                        <td>{{book.price}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>