<div class="row">
            <div class="col-md-8" ng-controller="ListController">

                <div class="panel panel-primary">
                    <div class="panel-heading">Select Your Book</div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Genre</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr ng-repeat="book in bookList">
                                <td>{{book.name}}</td>
                                <td>{{book.genre}}</td>
                                <td>{{book.description}}</td>
                                <td>{{book.price}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus" ng-click="addOrder(book)"></button>
                                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeOrder(book)"></button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>


            </div>
            <div class="col-md-4" ng-controller="OrderController">

                <div class="panel panel-primary">
                    <div class="panel-heading ">Order Summary</div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>Book Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            <tr ng-repeat="orderedItem in orderedItems">
                                <td>{{orderedItem.name}}</td>
                                <td>{{orderedItem.quantity}}</td>
                                <td>{{orderedItem.price * orderedItem.quantity}}</td>
                            </tr>
                            <tr><td colspan="2">Total Amount</td><td>{{calculateOrderTotal()}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>